.mat-bottom-sheet-container{
  background-color: #022e63;
  color: #ffffff;
}

.btn-trigger {
  background-color: #00458D;
  color: #ffffff;
}

mat-nav-list {
  max-height: 100vh!important;
  max-width: 194vh!important;

  width: 100%;
  height: 99%;
}

mat-drawer-container {
  height: 92%;
}

.pilat-spacer {
  flex: 1 1 auto;
}

// Tree

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

.example-tree-node .example-tree-node {
  padding-left: 40px;
}


