.pilat-background {
  background-color: #00458D;
}
.pilat-module-trigger{
  position: fixed;
  bottom: 0px;
  right: 50%;
  z-index: 10;
}
.mat-form-field{
  width: 100%;
}
.mat-raised-button{
  color: #ffffff;
  background-color: #01458d;
}
.mat-bottom-sheet-container{
  color: #ffffff;
  background-color: #01458d;
}

.mat-toolbar.mat-primary{
  color: #ffffff;
  background-color: #01458d;
}
.mat-toolbar {
  background: #00458D;
  color: #ffffff
}

.mat-spinner {
  top: 50%;
  left: 46%;
}

.example-spacer {
  flex: 1 1 auto;
}

//mat-drawer{
//  width: 13%;
//}
.mat-list-base .mat-list-item {
  font-size: 12px!important;
}
