.pilat-background {
  background-color: #0a6aa1;
}
.pilat-module-trigger{
  position: fixed;
  bottom: 0px;
  right: 50%;
  z-index: 10;
}
.mat-form-field{
  width: 100%;
}
.mat-raised-button{
  color: #ffffff;
  background-color: #01458d;
}
.mat-bottom-sheet-container{
  color: #ffffff;
  background-color: #01458d;
}

.mat-toolbar.mat-primary{
  color: #ffffff;
  background-color: #01458d;
}
.mat-spinner {
  top: 50%;
  left: 46%;
}

