
<mat-toolbar color="primary">
  <span>Calls</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">


  <!--'description',-->
  <!--'salutation',-->
  <!--'first_name',-->
  <!--'last_name',-->
  <!--'phone_mobile',-->
  <!--'phone_other',-->
  <!--'primary_address_street',-->
  <!--'primary_address_city',-->
  <!--'primary_address_state',-->
  <!--'alt_address_country',-->
  <!--'lead_source_description',-->
  <!--'status',-->
  <!--'account_name',-->
  <!--'actions',-->
  <!---->

  <div class="form">
    <mat-form-field [floatLabel]="'never'" color="accent">
      <input matInput #filter placeholder="Filtrar Calls">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="callDataSource" matSort class="mat-cell">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="name"><mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell><mat-cell *matCellDef="let row" >{{row.name}}</mat-cell></ng-container>
    <ng-container matColumnDef="date_entered"><mat-header-cell *matHeaderCellDef mat-sort-header>date_entered</mat-header-cell><mat-cell *matCellDef="let row" >{{row.date_entered}}</mat-cell></ng-container>
    <ng-container matColumnDef="date_modified"><mat-header-cell *matHeaderCellDef mat-sort-header>date_modified</mat-header-cell><mat-cell *matCellDef="let row" >{{row.date_modified}}</mat-cell></ng-container>
    <ng-container matColumnDef="modified_user_id"><mat-header-cell *matHeaderCellDef mat-sort-header>modified_user_id</mat-header-cell><mat-cell *matCellDef="let row" >{{row.modified_user_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="created_by"><mat-header-cell *matHeaderCellDef mat-sort-header>created_by</mat-header-cell><mat-cell *matCellDef="let row" >{{row.created_by}}</mat-cell></ng-container>
    <ng-container matColumnDef="description"><mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell><mat-cell *matCellDef="let row" >{{row.description}}</mat-cell></ng-container>
    <ng-container matColumnDef="deleted"><mat-header-cell *matHeaderCellDef mat-sort-header>deleted</mat-header-cell><mat-cell *matCellDef="let row" >{{row.deleted}}</mat-cell></ng-container>
    <ng-container matColumnDef="assigned_user_id"><mat-header-cell *matHeaderCellDef mat-sort-header>assigned_user_id</mat-header-cell><mat-cell *matCellDef="let row" >{{row.assigned_user_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="duration_hours"><mat-header-cell *matHeaderCellDef mat-sort-header>duration_hours</mat-header-cell><mat-cell *matCellDef="let row" >{{row.duration_hours}}</mat-cell></ng-container>
    <ng-container matColumnDef="duration_minutes"><mat-header-cell *matHeaderCellDef mat-sort-header>duration_minutes</mat-header-cell><mat-cell *matCellDef="let row" >{{row.duration_minutes}}</mat-cell></ng-container>
    <ng-container matColumnDef="date_start"><mat-header-cell *matHeaderCellDef mat-sort-header>date_start</mat-header-cell><mat-cell *matCellDef="let row" >{{row.date_start}}</mat-cell></ng-container>
    <ng-container matColumnDef="date_end"><mat-header-cell *matHeaderCellDef mat-sort-header>date_end</mat-header-cell><mat-cell *matCellDef="let row" >{{row.date_end}}</mat-cell></ng-container>
    <ng-container matColumnDef="parent_type"><mat-header-cell *matHeaderCellDef mat-sort-header>parent_type</mat-header-cell><mat-cell *matCellDef="let row" >{{row.parent_type}}</mat-cell></ng-container>
    <ng-container matColumnDef="status"><mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell><mat-cell *matCellDef="let row" >{{row.status}}</mat-cell></ng-container>
    <ng-container matColumnDef="direction"><mat-header-cell *matHeaderCellDef mat-sort-header>direction</mat-header-cell><mat-cell *matCellDef="let row" >{{row.direction}}</mat-cell></ng-container>
    <ng-container matColumnDef="parent_id"><mat-header-cell *matHeaderCellDef mat-sort-header>parent_id</mat-header-cell><mat-cell *matCellDef="let row" >{{row.parent_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="reminder_time"><mat-header-cell *matHeaderCellDef mat-sort-header>reminder_time</mat-header-cell><mat-cell *matCellDef="let row" >{{row.reminder_time}}</mat-cell></ng-container>
    <ng-container matColumnDef="email_reminder_time"><mat-header-cell *matHeaderCellDef mat-sort-header>email_reminder_time</mat-header-cell><mat-cell *matCellDef="let row" >{{row.email_reminder_time}}</mat-cell></ng-container>
    <ng-container matColumnDef="email_reminder_sent"><mat-header-cell *matHeaderCellDef mat-sort-header>email_reminder_sent</mat-header-cell><mat-cell *matCellDef="let row" >{{row.email_reminder_sent}}</mat-cell></ng-container>
    <ng-container matColumnDef="outlook_id"><mat-header-cell *matHeaderCellDef mat-sort-header>outlook_id</mat-header-cell><mat-cell *matCellDef="let row" >{{row.outlook_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="repeat_type"><mat-header-cell *matHeaderCellDef mat-sort-header>repeat_type</mat-header-cell><mat-cell *matCellDef="let row" >{{row.repeat_type}}</mat-cell></ng-container>
    <ng-container matColumnDef="repeat_interval"><mat-header-cell *matHeaderCellDef mat-sort-header>repeat_interval</mat-header-cell><mat-cell *matCellDef="let row" >{{row.repeat_interval}}</mat-cell></ng-container>
    <ng-container matColumnDef="repeat_dow"><mat-header-cell *matHeaderCellDef mat-sort-header>repeat_dow</mat-header-cell><mat-cell *matCellDef="let row" >{{row.repeat_dow}}</mat-cell></ng-container>
    <ng-container matColumnDef="repeat_until"><mat-header-cell *matHeaderCellDef mat-sort-header>repeat_until</mat-header-cell><mat-cell *matCellDef="let row" >{{row.repeat_until}}</mat-cell></ng-container>
    <ng-container matColumnDef="repeat_count"><mat-header-cell *matHeaderCellDef mat-sort-header>repeat_count</mat-header-cell><mat-cell *matCellDef="let row" >{{row.repeat_count}}</mat-cell></ng-container>
    <ng-container matColumnDef="repeat_parent_id"><mat-header-cell *matHeaderCellDef mat-sort-header>repeat_parent_id</mat-header-cell><mat-cell *matCellDef="let row" >{{row.repeat_parent_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="recurring_source"><mat-header-cell *matHeaderCellDef mat-sort-header>recurring_source</mat-header-cell><mat-cell *matCellDef="let row" >{{row.recurring_source}}</mat-cell></ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let Lead; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, Lead)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, Lead)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="callDataSource.renderedData.length == 0 ? '' : 'none'">
    <mat-spinner diameter="50" class="mat-spinner" *ngIf="isLoading"></mat-spinner>
  </div>

  <mat-paginator #paginator
                 [length]="callDataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
