<mat-toolbar color="primary">
  <span>Usuarios</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8" [classList]="this.pilatService.toggleMenuOpened ? 'fixed' : ''">

  <div class="form">
    <mat-form-field [floatLabel]="'never'" color="accent">
      <input matInput #filter placeholder="Filtrar diccionarios">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id"><mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell><mat-cell *matCellDef="let row" >{{row.id}}</mat-cell></ng-container>
    <ng-container matColumnDef="user_name"><mat-header-cell *matHeaderCellDef mat-sort-header>User_name</mat-header-cell><mat-cell *matCellDef="let row" >{{row.user_name}}</mat-cell></ng-container>
    <ng-container matColumnDef="user_hash"><mat-header-cell *matHeaderCellDef mat-sort-header>User_hash</mat-header-cell><mat-cell *matCellDef="let row"> {{row.user_hash}}</mat-cell></ng-container>
    <ng-container matColumnDef="system_generated_password"><mat-header-cell *matHeaderCellDef mat-sort-header>System_generated_password</mat-header-cell><mat-cell *matCellDef="let row"> {{row.system_generated_password}}</mat-cell></ng-container>
    <ng-container matColumnDef="pwd_last_changed"><mat-header-cell *matHeaderCellDef mat-sort-header>Pwd_last_changed</mat-header-cell><mat-cell *matCellDef="let row"> {{row.pwd_last_changed}}</mat-cell></ng-container>
    <ng-container matColumnDef="authenticate_id"><mat-header-cell *matHeaderCellDef mat-sort-header>Authenticate_id</mat-header-cell><mat-cell *matCellDef="let row"> {{row.authenticate_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="sugar_login"><mat-header-cell *matHeaderCellDef mat-sort-header>Sugar_login</mat-header-cell><mat-cell *matCellDef="let row"> {{row.sugar_login}}</mat-cell></ng-container>
    <ng-container matColumnDef="first_name"><mat-header-cell *matHeaderCellDef mat-sort-header>First_name</mat-header-cell><mat-cell *matCellDef="let row"> {{row.first_name}}</mat-cell></ng-container>
    <ng-container matColumnDef="last_name"><mat-header-cell *matHeaderCellDef mat-sort-header>Last_name</mat-header-cell><mat-cell *matCellDef="let row"> {{row.last_name}}</mat-cell></ng-container>
    <ng-container matColumnDef="is_admin"><mat-header-cell *matHeaderCellDef mat-sort-header>Is_admin</mat-header-cell><mat-cell *matCellDef="let row"> {{row.is_admin}}</mat-cell></ng-container>
    <ng-container matColumnDef="external_auth_only"><mat-header-cell *matHeaderCellDef mat-sort-header>External_auth_only</mat-header-cell><mat-cell *matCellDef="let row"> {{row.external_auth_only}}</mat-cell></ng-container>
    <ng-container matColumnDef="receive_notifications"><mat-header-cell *matHeaderCellDef mat-sort-header>Receive_notifications</mat-header-cell><mat-cell *matCellDef="let row"> {{row.receive_notifications}}</mat-cell></ng-container>
    <ng-container matColumnDef="description"><mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell><mat-cell *matCellDef="let row"> {{row.description}}</mat-cell></ng-container>
    <ng-container matColumnDef="date_entered"><mat-header-cell *matHeaderCellDef mat-sort-header>Date_entered</mat-header-cell><mat-cell *matCellDef="let row"> {{row.date_entered}}</mat-cell></ng-container>
    <ng-container matColumnDef="date_modified"><mat-header-cell *matHeaderCellDef mat-sort-header>Date_modified</mat-header-cell><mat-cell *matCellDef="let row"> {{row.date_modified}}</mat-cell></ng-container>
    <ng-container matColumnDef="modified_user_id"><mat-header-cell *matHeaderCellDef mat-sort-header>Modified_user_id</mat-header-cell><mat-cell *matCellDef="let row"> {{row.modified_user_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="created_by"><mat-header-cell *matHeaderCellDef mat-sort-header>Created_by</mat-header-cell><mat-cell *matCellDef="let row"> {{row.created_by}}</mat-cell></ng-container>
    <ng-container matColumnDef="title"><mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell><mat-cell *matCellDef="let row"> {{row.title}}</mat-cell></ng-container>
    <ng-container matColumnDef="photo"><mat-header-cell *matHeaderCellDef mat-sort-header>Photo</mat-header-cell><mat-cell *matCellDef="let row"> {{row.photo}}</mat-cell></ng-container>
    <ng-container matColumnDef="department"><mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell><mat-cell *matCellDef="let row"> {{row.department}}</mat-cell></ng-container>
    <ng-container matColumnDef="phone_home"><mat-header-cell *matHeaderCellDef mat-sort-header>Phone_home</mat-header-cell><mat-cell *matCellDef="let row"> {{row.phone_home}}</mat-cell></ng-container>
    <ng-container matColumnDef="phone_mobile"><mat-header-cell *matHeaderCellDef mat-sort-header>Phone_mobile</mat-header-cell><mat-cell *matCellDef="let row"> {{row.phone_mobile}}</mat-cell></ng-container>
    <ng-container matColumnDef="phone_work"><mat-header-cell *matHeaderCellDef mat-sort-header>Phone_work</mat-header-cell><mat-cell *matCellDef="let row"> {{row.phone_work}}</mat-cell></ng-container>
    <ng-container matColumnDef="phone_other"><mat-header-cell *matHeaderCellDef mat-sort-header>Phone_other</mat-header-cell><mat-cell *matCellDef="let row"> {{row.phone_other}}</mat-cell></ng-container>
    <ng-container matColumnDef="phone_fax"><mat-header-cell *matHeaderCellDef mat-sort-header>Phone_fax</mat-header-cell><mat-cell *matCellDef="let row"> {{row.phone_fax}}</mat-cell></ng-container>
    <ng-container matColumnDef="status"><mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell><mat-cell *matCellDef="let row"> {{row.status}}</mat-cell></ng-container>
    <ng-container matColumnDef="address_street"><mat-header-cell *matHeaderCellDef mat-sort-header>Address_street</mat-header-cell><mat-cell *matCellDef="let row"> {{row.address_street}}</mat-cell></ng-container>
    <ng-container matColumnDef="address_city"><mat-header-cell *matHeaderCellDef mat-sort-header>Address_city</mat-header-cell><mat-cell *matCellDef="let row"> {{row.address_city}}</mat-cell></ng-container>
    <ng-container matColumnDef="address_state"><mat-header-cell *matHeaderCellDef mat-sort-header>Address_state</mat-header-cell><mat-cell *matCellDef="let row"> {{row.address_state}}</mat-cell></ng-container>
    <ng-container matColumnDef="address_country"><mat-header-cell *matHeaderCellDef mat-sort-header>Address_country</mat-header-cell><mat-cell *matCellDef="let row"> {{row.address_country}}</mat-cell></ng-container>
    <ng-container matColumnDef="address_postalcode"><mat-header-cell *matHeaderCellDef mat-sort-header>Address_postalcode</mat-header-cell><mat-cell *matCellDef="let row"> {{row.address_postalcode}}</mat-cell></ng-container>
    <ng-container matColumnDef="deleted"><mat-header-cell *matHeaderCellDef mat-sort-header>Deleted</mat-header-cell><mat-cell *matCellDef="let row"> {{row.deleted}}</mat-cell></ng-container>
    <ng-container matColumnDef="portal_only"><mat-header-cell *matHeaderCellDef mat-sort-header>Portal_only</mat-header-cell><mat-cell *matCellDef="let row"> {{row.portal_only}}</mat-cell></ng-container>
    <ng-container matColumnDef="show_on_employees"><mat-header-cell *matHeaderCellDef mat-sort-header>Show_on_employees</mat-header-cell><mat-cell *matCellDef="let row"> {{row.show_on_employees}}</mat-cell></ng-container>
    <ng-container matColumnDef="employee_status"><mat-header-cell *matHeaderCellDef mat-sort-header>Employee_status</mat-header-cell><mat-cell *matCellDef="let row"> {{row.employee_status}}</mat-cell></ng-container>
    <ng-container matColumnDef="messenger_id"><mat-header-cell *matHeaderCellDef mat-sort-header>Messenger_id</mat-header-cell><mat-cell *matCellDef="let row"> {{row.messenger_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="messenger_type"><mat-header-cell *matHeaderCellDef mat-sort-header>Messenger_type</mat-header-cell><mat-cell *matCellDef="let row"> {{row.messenger_type}}</mat-cell></ng-container>
    <ng-container matColumnDef="reports_to_id"><mat-header-cell *matHeaderCellDef mat-sort-header>Reports_to_id</mat-header-cell><mat-cell *matCellDef="let row"> {{row.reports_to_id}}</mat-cell></ng-container>
    <ng-container matColumnDef="is_group"><mat-header-cell *matHeaderCellDef mat-sort-header>Is_group</mat-header-cell><mat-cell *matCellDef="let row"> {{row.is_group}}</mat-cell></ng-container>
    <ng-container matColumnDef="factor_auth"><mat-header-cell *matHeaderCellDef mat-sort-header>Factor_auth</mat-header-cell><mat-cell *matCellDef="let row"> {{row.factor_auth}}</mat-cell></ng-container>
    <ng-container matColumnDef="factor_auth_interface"><mat-header-cell *matHeaderCellDef mat-sort-header>Factor_auth_interface</mat-header-cell><mat-cell *matCellDef="let row"> {{row.factor_auth_interface}}</mat-cell></ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions"><mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()" [disabled]="false">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let pilatDictionary; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, pilatDictionary)" [disabled]="false">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, pilatDictionary)" [disabled]="true">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    <mat-spinner diameter="50" class="mat-spinner" *ngIf="isLoading"></mat-spinner>
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
