.title {
  text-align: center;
}
.example-container {
  width: 220px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-container > h2{
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

.example-list {
  border: solid 1px #ffffff;
  min-height: 60px;
  background: #e4e4e4;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.box-column-0 {
  padding: 20px 10px;
  background: #ccc;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.box-column-1 {
  padding: 20px 10px;
  background: #75cc70;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.box-column-2 {
  padding: 20px 10px;
  background: #e9de55;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.box-column-3 {
  padding: 20px 10px;
  background: #0fcae9;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.box-column-4 {
  padding: 20px 10px;
  background: #3469e9;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.box-column-5 {
  padding: 20px 10px;
  background: #4425e9;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.box-column-6 {
  padding: 20px 10px;
  background: #cd43e9;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}


.box-column-7 {
  padding: 20px 10px;
  background: #e939ae;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}


.box-column-8 {
  padding: 20px 10px;
  background: #e93239;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.box-column-9 {
  padding: 20px 10px;
  background: #111111;
  border: solid 2px #ececec!important;
  margin: 5px;
  color: #ffffff;
  //display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}
.example-button-row {
  display: table-cell;
  width: 82.3%;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.mat-dialog-content >div{
  width: 290%;
}
.btn-lead-trigger {
  background-color: #00458D;
  color: #ffffff;
}
.mat-spinner {
  left: 30%;
}
.mat-input-element{
  width: 10%;
}
mat-button-toggle-group {
  width: 290%;
  position: static;
  border: solid 1px #0a0b0c;
  border-radius: 0;
}

// drag icons

.example-box {
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.mat-dialog-title{
  margin: 0px!important;
}
