<h1 mat-dialog-title>Convertir lead prospecto en oportunidad</h1>
<div mat-dialog-content>El lead seleccionado es un prospecto, para poder convertirlo como un potencial cliente debe seguir los siguientes pasos:
  <ul>
    <li>
      Dirijase al menu Prospectos
    </li>
    <li>
      Seleccione el prospecto que desea convertirlo en Oportunidad
    </li>
    <li>
      Dirijase a la parte superior donde se encuentra el boton "editar", y seleccione la flecha hacia abajo
    </li>
    <li>
      Haga clic en "Convertir Cliente Potencial"
    </li>
    <li>
      Complete el formulario y finalmente guardelo.
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Aceptar</button>
</div>
