/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.error-contact {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  background: #e93239;
}
.error-account {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  background: #e93239;
}
.error-quote {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  background: #e93239;
}
.warn-email {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  background: #f0de00;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

[mat-dialog-title] {
  margin: -24px -24px 0px -24px !important;
  padding: 10px 24px;
  background: #ffffff;
  color: #CA3213;
  cursor: move;
  font-weight: lighter!important;
}

[mat-dialog-content] {
  padding: 24px 30px!important;
  max-height: 85vh!important;
}

.mat-bottom-sheet-container {
  min-width: 93vw!important;
  min-height: 132vw!important;
}
.mat-bottom-sheet-container {
  max-height: 100vh!important;
}
.example-full-width {
  width: 100%;
}
mat-form-field{
  height: 80px;
  width: 200px
}
//.mat-form-field {
//  margin: 5px!important;
//}

.form{
  width: 100%;
  height: 100%;
  margin: 15px;
}
.form-control{
  top: -10px;
}
mat-nav-list {
  padding-top: 0px!important;
}

.anml-link {
  font-size: 13px;
}
.mat-drawer-container {
  height: 102%;
  width: 100%;
}
.mat-drawer-content{
  width: 100%;
}
.mat-nav-list {
 height: 91.5%;
}
.fixed {
  width: 87%;
}

.fixed-header {
  width: 29%;
  left: 63%;
  top: 0px;
  z-index: 1;
  height: 40px;
  position: sticky;
  background: #dfdfdf;
  border-bottom: none;
}

.fixed-content {
  position: absolute;
  top: -80px;
}
