
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Parametros</h1>

<div mat-dialog-content >

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <mat-grid-list [cols]="pilatService.isSmallScreen ? '1' : '2'" rowHeight="6:2">
      <mat-grid-tile><div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_cod</mat-label><input matInput #input class="form-control" placeholder="par_cod" [disabled]="data._id ? true : false" [(ngModel)]="data.par_cod" name="par_cod" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div></mat-grid-tile>
      <mat-grid-tile><div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_description</mat-label><input matInput #input class="form-control" placeholder="par_description" [(ngModel)]="data.par_description" name="par_description" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div></mat-grid-tile>
      <mat-grid-tile><div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_abbr</mat-label><input matInput #input class="form-control" placeholder="par_abbr" [(ngModel)]="data.par_abbr" name="par_abbr"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div></mat-grid-tile>
      <mat-grid-tile><div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_group</mat-label><input matInput #input class="form-control" placeholder="par_group" [(ngModel)]="data.par_group" name="par_group"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div></mat-grid-tile>
      <mat-grid-tile><div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_order</mat-label><input matInput #input class="form-control" placeholder="par_order" [(ngModel)]="data.par_order" name="par_order"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div></mat-grid-tile>
      <mat-grid-tile><div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>Diccionarios</mat-label><mat-select [(ngModel)]="data.par_dictionary_id" name="par_dictionary_id">
          <mat-option *ngFor="let pilatDictionary of pilatDictionaries" [value]="pilatDictionary._id" required >{{pilatDictionary.dic_description}}</mat-option>
      </mat-select></mat-form-field></div></mat-grid-tile>
      <mat-grid-tile><div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>Parametro Padre</mat-label><mat-select [(ngModel)]="data.par_parent_id" name="par_parent_id">
        <mat-option *ngFor="let pilatParent of pilatParents" [value]="pilatParent._id" required >{{pilatParent.par_group}}</mat-option>
      </mat-select></mat-form-field></div></mat-grid-tile>

    </mat-grid-list>



        <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_dictionary_id</mat-label><input matInput #input class="form-control" placeholder="par_dictionary_id" [(ngModel)]="data.par_dictionary_id" name="par_dictionary_id"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
        <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_dictionary_id</mat-label><input matInput #input class="form-control" placeholder="par_dictionary_id" [(ngModel)]="data.par_dictionary_id" name="par_dictionary_id"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
        <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>id</mat-label><input matInput #input class="form-control" placeholder="Cod" [(ngModel)]="data.id" name="id" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
    <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_status_id</mat-label><input matInput #input class="form-control" placeholder="Order" [(ngModel)]="data.par_status_id" name="par_status_id"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
    <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>createdBy</mat-label><input matInput #input class="form-control" placeholder="Order" [(ngModel)]="data.createdBy" name="createdBy"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
    <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>updatedBy</mat-label><input matInput #input class="form-control" placeholder="Order" [(ngModel)]="data.updatedBy" name="updatedBy"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
    <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>duaAt</mat-label><input matInput #input class="form-control" placeholder="Order" [(ngModel)]="data.duaAt" name="duaAt"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
    <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>createdAt</mat-label><input matInput #input class="form-control" placeholder="Order" [(ngModel)]="data.createdAt" name="createdAt"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
    <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>updatedAt</mat-label><input matInput #input class="form-control" placeholder="Order" [(ngModel)]="data.updatedAt" name="updatedAt"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->
    <!--<div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>par_parent_id</mat-label><input matInput #input class="form-control" placeholder="Order" [(ngModel)]="data.par_parent_id" name="par_parent_id"><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>-->

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>

  </form>

</div>

