<!-- /**
 * Created by @ES Express Systems
 * User: Rafael Gutierrez Gaspar
 * Date: Tue Nov 10 2020 23:17:18 GMT-0400 (Bolivia Time)
 * Time: 23:17:18
 * Last User updated: Rafael Gutierrez Gaspar
 * Last date updated: Tue Nov 10 2020 23:17:18 GMT-0400 (Bolivia Time)
 * Last time updated: 23:17:18
 *
 * Caution: es-sections will be replaced by script execution
 */ -->

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>es</title>
    <link rel="stylesheet" type="text/css" href="/js/es/resources/css/ext-all.css"/>
    <link rel="stylesheet" type="text/css" href="/js/es/shared/restful.css"/>

    <!-- GC -->

    <script type="text/javascript" src="/js/es/ext-all.js"></script>
    <script type="text/javascript" src="/js/es/bootstrap.js"></script>
    <script type="text/javascript" src="/js/es/shared/common.js"></script>

    <link rel="stylesheet" type="text/css" href="/js/es/layout-browser.css">
    <script>
			// use the scoped CSS stylesheet if the url has a scopecss parameter
			document.write('<link rel="stylesheet" type="text/css" href="/js/es/resources/css/ext-all' +
				((window.location.search.indexOf('scopecss') === -1) ? '' : '-scoped') + '.css" />');
    </script>
    <link rel="stylesheet" type="text/css" href="/js/es/shared/example.css" />
    <link rel="stylesheet" type="text/css" href="/js/es/ux/css/CheckHeader.css" />

    <!-- GC -->

    <style type="text/css">
        p {
            margin: 5px;
        }

        .settings {
            background-image: url(/js/es/shared/icons/fam/folder_wrench.png);
        }

        .nav {
            background-image: url(/js/es/shared/icons/fam/folder_go.png);
        }

        .info {
            background-image: url(/js/es/shared/icons/fam/information.png);
        }
    </style>


    <!-- page specific -->
    <script src="/pilatsrl/extjs/app.js"></script>

</head>
<body>

<div id="es" style="display:none;"></div>
<script type="text/javascript" src="/pilatsrl/extjs/es.js"></script>

</body>
</html>
